<app-headbar></app-headbar>

<section class="section">
    <div class="container">
        <div class="heading animated fadeIn">
            <h1 class="title">Seu Carrinho</h1>
            <h2 class="subtitle">
                10 itens
            </h2>
        </div>
        <br>
        <table class="table is-striped">
          <thead>
            <tr>
              <th class="has-text-centered">Produto</th>
              <th class="has-text-centered">Valor</th>
              <th class="has-text-centered">Qtde</th>
              <th class="has-text-centered">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="has-text-centered">Mouse Gamer</td>
              <td class="has-text-centered">R$ 299.90</td>
              <td class="has-text-centered">1</td>
              <td class="has-text-centered"><strong>R$ 299.90</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"><h3 class="title">SubTotal</h3></td>
              <td class="has-text-centered"><strong>R$ 299.90</strong></td>              
            </tr>
            <tr>
              <td colspan="3"><h3 class="title">Desconto</h3></td>
              <td class="has-text-centered"><strong>R$ 0.00</strong></td>              
            </tr>
            <tr>
              <td colspan="3"><h3 class="title">Total</h3></td>
              <td class="has-text-centered"><strong>R$ 299.90</strong></td>              
            </tr>
          </tfoot>
        </table>
        <p class="has-text-right">
          <button class="button is-success is-large animated pulse infinite"><i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;CHECKOUT</button>
        </p>
    </div>
</section>

<app-footer></app-footer>