<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        modern web store
      </h1>

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <p class="control">
            <input class="input is-large" type="text" placeholder="Nome">
          </p>

          <p class="control">
            <input class="input is-large" type="text" placeholder="Sobrenome">
          </p>

          <p class="control">
            <input class="input is-large" type="email" placeholder="E-mail">
          </p>

          <p class="control">
            <input class="input is-large" type="text" placeholder="CPF">
          </p>

          <p class="control">
            <input class="input is-large" type="text" placeholder="Usuário">
          </p>

          <p class="control">
            <input class="input is-large" type="password" placeholder="Senha">
          </p>

          <p class="control">
            <input class="input is-large" type="password" placeholder="Confirmar Senha">
          </p>

          <p>
            <a class="button is-primary is-inverted is-outlined is-large is-fullwidth">CADASTRAR</a>
            <br>
            <a class="button is-link is-fullwidth">VOLTAR PARA TELA DE LOGIN</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>