<section class="hero is-primary is-small animated slideInDown">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item pacifico medium-text">modern web store</a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <app-sub-menu></app-sub-menu>
            </div>
        </header>
    </div>
</section>